extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 #{profile.name}
        p.lead.text-light
          | Full Stack JavaScript Developer
        .portfolio-bio
          p
            | In 2013 I helped start up a cell phone repair company with my friends. 11 new store locations later, we sold the business and are looking for our next adventure. 
            | I currently continue to work at the company I helped start to transition and train the new ownership.
            | I am studying online focusing on Full Stack JavaScript development in hopes to transition into a career of programming and development.
            | I am a Google master. If I don’t know the solution, I will soon.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          each skill in profile.skills
            li #{skill}
        h6 Contact Info
        ul
          li #{profile.phone}
          li #{profile.email}
        a.button.expanded(href=`${profile.linkedIn}`) LinkedIn
        a.button.expanded(href=`${profile.gitHub}`) GitHub
        a.button.expanded(href=`${profile.twitter}`) Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  